
@{
    ViewBag.Title = "bdc";
}

<link rel="stylesheet" href="~/Content/src/css/bdc.css">
<script src="~/Content/src/js/"></script>

<div class="divisor"></div>
<main class="main-content">
    <h1 class="content-main">bionic devices company</h1>
</main>
<div class="divisor"></div>
<main class="main-content">
    <div class="info-project">
        <div class="text-info">
            <h5>year</h5>
            <p>2023</p>
        </div>
        <div class="text-info">
            <h5>type</h5>
            <p>website</p>
        </div>
        <div class="text-info">
            <h5>role</h5>
            <p>study</p>
        </div>
    </div>
    <div class="img-container">
        <img src="~/Content/src/img/presentation-bdc.png" alt="">
    </div>
    <div class="text-container">
        <h2>project overview</h2>
        <p>
            Bionic Devices Company, or BDC, is a robotic prosthesis creation company. It was created during a school project and it is a fictitious company.
        </p>
    </div>
    <div class="img-container">
        <img src="~/Content/src/img/presentation-3.png" alt="">
    </div>
    <div class="text-container">
        <h2>the result</h2>
        <a href="https://riquelmyhsilva.github.io/Bionic-Devices-Company-Website/#" target="_blank" class="button">visit the website</a> <br>
        <a href="https://github.com/riquelmyhsilva/Bionic-Devices-Company-Website" target="_blank" class="button">visit the github project</a>
    </div>
</main>
<div class="divisor"></div>
<main class="next-project-container">
    <p>next project</p>
    <a href="PhraseRewriter" class="button"><h1>phrase rewriter</h1></a>
</main>

