
@{
    ViewBag.Title = "calculator";
}

<link rel="stylesheet" href="~/Content/src/css/calculator-style.css">
<script src="~/Content/src/js/"></script>

<div class="divisor"></div>
<main class="main-content">
    <h1 class="content-main">
        calculator
    </h1>
</main>
<div class="divisor"></div>
<main class="main-content">
    <div class="info-project">
        <div class="text-info">
            <h5>year</h5>
            <p>2023</p>
        </div>
        <div class="text-info">
            <h5>type</h5>
            <p>website</p>
        </div>
        <div class="text-info">
            <h5>role</h5>
            <p>study</p>
        </div>
    </div>
    <div class="img-container">
        <img src="~/Content/src/img/presentation-2.png" alt="">
    </div>
    <div class="text-container">
        <h2>project overview</h2>
        <p>
            This project is basically a calculator, makes for a JavaScript study. You can do simple calcs.
        </p>
    </div>
    <div class="text-container">
        <h2>the result</h2>
        <a href="https://riquelmyhsilva.github.io/Calculator/" target="_blank" class="button">visit the website</a> <br>
        <a href="https://github.com/riquelmyhsilva/Calculator" target="_blank" class="button">visit the github project</a>
    </div>
</main>
<div class="divisor"></div>
<main class="next-project-container">
    <p>next project</p>
    <a href="Bdc" class="button"><h1>bionic devices company</h1></a>
</main>

