
@{
    ViewBag.Title = "contact";
}

<link rel="stylesheet" href="~/Content/src/css/contact-style.css">
<script src="~/Content/src/js/contact-script.js"></script>

<div class="divisor"></div>
<main class="main-content">
    <p class="tittle-main">contact</p>
    <h1 class="content-main">   
        I feel flattered and excited to start a new job. Let's go work togheter.
    </h1>
    <a href="#" class="email">riquelmyhs13@gmail.com</a>
</main>
<div class="divisor"></div>
<main class="main-content">
    <div class="client-email">
        <p class="tittle-email">or let me get in touch with you</p>
        <div class="email-box">
            <form action="@Url.Action("RegistrarEmail", "HomeController")" method="post">
                @Html.AntiForgeryToken()
                <input type="email" name="EmailAddress" class="email-text" placeholder="your e-mail" required>
                <button type="submit" class="button button-send-email">send</button>
            </form>
        </div>
    </div>
</main>

