
@{
    ViewBag.Title = "dolby cinema";
}

<link rel="stylesheet" href="~/Content/src/css/dolby-cinema-style.css">
<script src="~/Content/src/js/"></script>

<div class="divisor"></div>
<main class="main-content">
    <h1 class="content-main">
        dolby cinema
    </h1>
</main>
<div class="divisor"></div>
<main class="main-content">
    <div class="info-project">
        <div class="text-info">
            <h5>year</h5>
            <p>2023</p>
        </div>
        <div class="text-info">
            <h5>type</h5>
            <p>website</p>
        </div>
        <div class="text-info">
            <h5>role</h5>
            <p>study</p>
        </div>
    </div>
    <div class="img-container">
        <img src="~/Content/src/img/presentation-dolby-cinema.png" alt="">
    </div>
    <div class="text-container">
        <h2>project overview</h2>
        <p>
            This project is a study about web development, maked with HTML, CSS and JavaScript only.
            The website is for a ficcional comapany named "Dolby Cinema", inspireted on Dolby.
            It's a cinema website for the users can buy tickets for movies, see movies times,
            buy popcorn and outher products.
        </p>
    </div>
    <div class="img-container">
        <img src="~/Content/src/img/presentation-1.png" alt="">
    </div>
    <div class="text-container">
        <h2>the result</h2>
        <a href="https://riquelmyhsilva.github.io/Dolby-Cinema/" target="_blank" class="button">visit the website</a>
        <a href="https://github.com/riquelmyhsilva/Dolby-Cinema" target="_blank" class="button">visit the github project</a>
    </div>
</main>
<div class="divisor"></div>
<main class="next-project-container">
    <p>next project</p>
    <a href="Calculator" class="button"><h1>calculator</h1></a>
</main>

