
@{
    ViewBag.Title = "rhs";
}

<link rel="stylesheet" href="~/Content/src/css/index-style.css">
<script src="~/Content/src/js/index-script.js"></script>

<div class="divisor"></div>
<main class="main-content">
    <p id="top-main-text">i am</p>
    <h1 id="Riquelmy">Riquelmy</h1>
    <h1 id="Henrique">Henrique</h1>
    <h1 id="Silva">Silva</h1>
    <p id="end-main-text">and this is my portfolio</p>
</main>
<div class="divisor"></div>
<main class="main-images" id="projects">
    <h3>selected projects</h3>
</main>
<div class="images">
    <div class="container">
        <a href="dolby-cinema.html">
            <img src="~/Content/src/img/dolby-cinema.png" alt="">
            <div class="overlay">
                <img src="~/Content/src/img/dolby-cinema-logo.png" alt="" id="logo-dolby">
            </div>
        </a>
    </div>
    <div class="container">
        <a href="calculator.html">
            <img src="~/Content/src/img/calculator.png" alt="">
            <div class="overlay">
                <img src="~/Content/src/img/calculator-icon.png" alt="" id="logo-calc">
            </div>
        </a>
    </div>
    <div class="container">
        <a href="bdc.html">
            <img src="~/Content/src/img/protese1-img.png" alt="">
            <div class="overlay">
                <img src="~/Content/src/img/BDC logomark 3000px png.png" alt="" id="logo-bdc">
            </div>
        </a>
    </div>
    <div class="container">
        <a href="">
            <img src="~/Content/src/img/phrase-rewriter.png" alt="">
            <div class="overlay">
                <img src="~/Content/src/img/phrase-rewriter-logo.png" alt="">
            </div>
        </a>
    </div>
</div>

